
@model User

<div class="col-3 col-md-2">
    <img class="img-thumbnail" src=@Model.Image alt="@Model.UserName" />
    <h3>@Model.FirstName  @Model.LastName </h3>
    <p>Phone: @Model.UserName </p>
    <p><a class="btn btn-warning" href="#">Details</a></p>
</div>