@model Dialogue
@{
//ViewData["Title"] = Model.Members.ToList()[0].ToString();
}

<div class="p-2 w-100 bg-dark text-light">
    Dialogue                              
    @{
        //sModel.Members.ToList()[0].ToString() - @Model.Members.ToList()[1].ToString()
    }
</div>

<div class="p-2 row justify-content-start">

</div>

<div class="p-2 float-down w-100 bg-dark text-light">
    FieldForSend
</div>


