@model Dialogue
@{
    ViewData["Title"] = Model.Members.ToList()[0].FirstName;
}

<div class="p-2 w-100 bg-dark text-light">
    Dialogue                              @Model.Members.ToList()[0].FirstName - @Model.Members.ToList()[1].FirstName
</div>

<div class="p-2 row justify-content-start">

</div>

<div class="p-2 float-down w-100 bg-dark text-light">
    FieldForSend
</div>


