@model ConversationsDialogueViewModel
@{
    ViewData["Title"] = Model.dialogue.NickName;
}

<div class="p-2 w-100 bg-dark text-light">
    Dialogue                              
    @Model.dialogue.Members.ToList()[0].User.FirstName - @Model.dialogue.Members.ToList()[1].User.FirstName
   
</div>

<div class="p-2 row justify-content-start">
    @{
        foreach (TextMessage mes in Model.dialogue.Messages)
        {
            @Html.Partial("TextMessage", mes)
            <div class="w-100"></div>
        }
    }
</div>

<div class="p-2 float-down w-100 bg-dark text-light">
    FieldForSend
</div>


